* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5d1cd;
}

header {
  display: flex;
  background-color: #cf2410;
  color: white;
  gap: 15px;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.fillings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fillings-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  flex-basis: 50%;
}

.body-container {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.price-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  flex-basis: 50%;
}
